{% extends "base.html" %}

{% block content %}
	<div class="welcome-container"> 
		<h2 id="hello"> Hello world! </h2>
		<h3> Welcome to INFOrum! As the name implies, this is a question and answer forum, where you can ask questions and give answers concerning topics ranging from Computer Science to pop culture. First step is to sign up for an account, look for the email verification link, click verify, and ask away! Also keep in mind that this application is just a fun project by yours truly, so bugs are to be expected. Feel free to also send me any feedback you may have as I'm trying to improve as a software engineer and value your gracious input. I hope you have fun on this site! </h3>
		<h3> - Omar</h3>
		<h3> Side note - Special shout out to Professor <a href="https://compas.cs.stonybrook.edu/~mferdman/">Mike Ferdman</a> for teaching the course CSE356 for which this project was made and to W3Schools for the inspiration for the design and CSS tutorials :) (Yes, I know I'm a bad designer)</h3>
	</div>

{% endblock %}
